; English
; =======

[0]
start = 0.0
end = 4.0
lang = "en"
text = "Jet had a quest:\nFind and dispose of four dragons."

[1]
start = 4.1
end = 6.0
lang = "en"
text = "They knew this all very well."

[2]
start = 6.1
end = 12.0
lang = "en"
text = "But if they did do that quest\nthey'd just end up back here again: square one."

[3]
start = 12.1
end = 17.5
lang = "en"
text = "So... there must have been something that Jet had missed\nwhile being focused on following instructions."

[4]
start = 17.6
end = 24.0
lang = "en"
text = "Perhaps they needed to look inwards.\nSee if there was a skill or ability they could unlock."

[5]
start = 24.1
end = 28.0
lang = "en"
text = "That would get them out of this loop\nand set them free."

; Swedish
; =======

[0_sv]
start = 0.0
end = 4.0
lang = "sv"
text = "Jet hade ett uppdrag:\nHitta och destruera fyra drakar."

[1_sv]
start = 4.1
end = 6.0
lang = "sv"
text = "Hen visste detta mycket väl."

[2_sv]
start = 6.1
end = 12.0
lang = "sv"
text = "Men om hen slutförde det uppdraget\nså skulle hen bara komma tillbaka hit igen: ruta ett."

[3_sv]
start = 12.1
end = 17.5
lang = "sv"
text = "Så... det måste finnas något som Jet missat\nmedan hen var fokuserad på att följa instruktioner."

[4_sv]
start = 17.6
end = 24.0
lang = "sv"
text = "Kanske behövde hen tita innåt.\nSe om det fanns nån färdighet eller förmåga de kunde låsa upp."

[5_sv]
start = 24.1
end = 28.0
lang = "en"
text = "Något som skulle få dem ur loopen\noch befria dem."
