; English
; =======

[0]
start = 0.0
end = 6.0
lang = "en"
text = "Aah, fights.\nWho doesn't love a good fight?"

; Swedish
; =======

[0_sv]
start = 0.0
end = 6.0
lang = "sv"
text = "Aah, slagsmål.\nVem gillar inte ett bra slagsmål?"
