; English
; =======

[1]
start = 0.0
end = 3.0
lang = "en"
text = "Jet thought: This is life"

[2]
start = 3.2
end = 6.0
lang = "en"
text = "Fighting was what they were meant for."

[3]
start = 6.2
end = 9.0
lang = "en"
text = "And they could even keep exploring while at it."

[4]
start = 9.2
end = 13.5
lang = "en"
text = "Gather up many, many enemies - to have epic battles."

[5]
start = 14
end = 16.2
lang = "en"
text = "That was what they were meant to do."

[6]
start = 16.4
end = 20.0
lang = "en"
text = "At least as long as Jet kept an eye on their health."

; Swedish
; =======

[1_sv]
start = 0.0
end = 3.0
lang = "sv"
text = "Jet tänkte: Det här är livet"

[2_sv]
start = 3.2
end = 6.0
lang = "sv"
text = "Jag är gjord för att slåss."

[3_sv]
start = 6.2
end = 9.0
lang = "sv"
text = "Och hen kunde vandra runt medan hen gjorde det."

[4_sv]
start = 9.2
end = 13.5
lang = "sv"
text = "Sampla på sig fiender - för att ha episka slagsmål."

[5_sv]
start = 14
end = 16.2
lang = "sv"
text = "Det var det som hen var menad att göra."

[6_sv]
start = 16.4
end = 20.0
lang = "sv"
text = "Åtminstone så länge som hen höll ett öga på sin hälsa."
