; English
; =======

[0]
start = 0.0
end = 4.5
lang = "en"
text = "This standing still, relaxing,\n and becoming smarter by it..."

[1]
start = 4.7
end = 7.3
lang = "en"
text = "Well, it had seemed like a great plan at first."

[2]
start = 7.8
end = 10.6
lang = "en"
text = "But isn't it a bit dull, tought Jet."

[3]
start = 10.9
end = 13.5
lang = "en"
text = "They were getting bored."

[4]
start = 13.6
end = 20.2
lang = "en"
text = "They needed to explore, get into fights,\nand live before they could gain much more XP."

; Swedish
; =======


[0_sv]
start = 0.0
end = 4.5
lang = "sv"
text = "Att stå still, slappna av,\n och bli smartare av det..."

[1_sv]
start = 4.7
end = 7.3
lang = "sv"
text = "Nå, från början hade det verkat vara en perfekt plan."

[2_sv]
start = 7.8
end = 10.6
lang = "sv"
text = "Men är det inte lite trist, tänkte Jet."

[3_sv]
start = 10.9
end = 13.5
lang = "sv"
text = "Hen höll på att bli uttråkad."

[4_sv]
start = 13.6
end = 20.2
lang = "sv"
text = "Hen behövde utforska, hamna i slagsmål,\noch leva lite innan hen kunde få mycket mer XP."
