; English
; =======

[0]
start = 0.0
end = 2.0
lang = "en"
text = "Hello? Wait..."

[1]
start = 2.1
end = 4.0
lang = "en"
text = "Where did you go?"

[2]
start = 4.1
end = 7.0
lang = "en"
text = "Jet, what did you do?!"

; Swedish
; =======

[0_sv]
start = 0.0
end = 2.0
lang = "sv"
text = "Hallå? Vänta nu..."

[1_sv]
start = 2.1
end = 4.0
lang = "sv"
text = "Vart tog du vägen?"

[2_sv]
start = 4.1
end = 7.0
lang = "sv"
text = "Jet, vad har du gjort?!"
