; English
; =======

[0]
start = 0.0
end = 3.8
lang = "en"
text = "Sorry, no, no, no.\nYou are not doing that."

[1]
start = 4.3
end = 7.1
lang = "en"
text = "That ability is not supposed to be there."

[2]
start = 7.5
end = 8.85
lang = "en"
text = "Forget you ever saw it."

; Swedish
; =======

[0_sv]
start = 0.0
end = 3.8
lang = "sv"
text = "Ursäkta, nej, nej, nej.\nDet där gör du inte."

[1_sv]
start = 4.3
end = 7.1
lang = "sv"
text = "Den förmågan ska inte finnas där."

[2_sv]
start = 7.5
end = 8.85
lang = "sv"
text = "Glöm att du alls såg den."
