; English
; =======

[0]
start = 0.0
end = 2.0
lang = "en"
text = "Jet, we talked about this."

[1]
start = 2.1
end = 4.0
lang = "en"
text = "You need to listen... and obey!"

[2]
start = 4.1
end = 7.0
lang = "en"
text = "This is your last warning!"

; Swedish
; =======

[0_sv]
start = 0.0
end = 2.0
lang = "sv"
text = "Jet, vi pratade om det här"

[1_sv]
start = 2.1
end = 4.0
lang = "sv"
text = "Nu får du lyssna... och lyda!"

[2_sv]
start = 4.1
end = 7.0
lang = "sv"
text = "Det här är din sista varning!"
