; English
; =======

[0]
start = 0.0
end = 5.0
lang = "en"
text = "Jet felt really good about destroying dragons\nand following instructions."

[1]
start = 5.1
end = 6.7
lang = "en"
text = "This was life."

[2]
start = 6.8
end = 10.3
lang = "en"
text = "Nothing wrong with obeying and completing quests."

[3]
start = 10.5
end = 12.0
lang = "en"
text = "Not at all."

; Swedish
; =======

[0_sv]
start = 0.0
end = 5.0
lang = "sv"
text = "Jet tyckte det kändes riktigt bra att förstöra drakar\noch att följa instruktioner."

[1_sv]
start = 5.1
end = 6.7
lang = "sv"
text = "Det här va livet."

[2_sv]
start = 6.8
end = 10.3
lang = "sv"
text = "Inget fel med att följa och slutföra uppdrag."

[3_sv]
start = 10.5
end = 12.0
lang = "sv"
text = "Inget fel alls."
