; English
; =======

[0]
start = 0.1
end = 1.75
lang = "en"
text = "Jet we talked about this..."

[1]
start = 2.0
end = 3.1
lang = "en"
text = "You like the floor."

[2]
start = 3.45
end = 4.7
lang = "en"
text = "Great for you!"

[3]
start = 5.05
end = 7.0
lang = "en"
text = "But you cannot just give up like that!"

; Swedish
; =======

[0_sv]
start = 0.1
end = 1.75
lang = "sv"
text = "Jet vi har pratat om det här..."

[1_sv]
start = 2.0
end = 3.1
lang = "sv"
text = "Du gillar golvet."

[2_sv]
start = 3.45
end = 4.7
lang = "sv"
text = "Bra för dig!"

[3_sv]
start = 5.05
end = 7.0
lang = "sv"
text = "Men du kan inte bara ge upp sådär!"
