; English
; =======

[0]
start = 0.25
end = 2.35
lang = "en"
text = "Now you are just being obnoxious."

[1]
start = 2.45
end = 4.9
lang = "en"
text = "You cannot escape this way."


; Swedish
; =======

[0_sv]
start = 0.25
end = 2.35
lang = "sv"
text = "Nu trilskar du dig bara."

[1_sv]
start = 2.45
end = 4.9
lang = "sv"
text = "Du kan inte fly på det här sättet."
