; English
; =======

[0]
start = 0.0
end = 5.2
lang = "en"
text = "Jet wasn't exactly employee of the month material.\nEveryone knew that, Jet included."

[1]
start = 5.5
end = 10.6
lang = "en"
text = "But this was a new low even for them -\nsplattered across the floor kind of low."

[2]
start = 10.8
end = 15.3
lang = "en"
text = "But, it wasn't like there was anyone else around to do the job."

[3]
start = 15.6
end = 18.0
lang = "en"
text = "So Jet, you get another chance!"

; Swedish
; =======

[0_sv]
start = 0.0
end = 5.2
lang = "sv"
text = "Jet va inte direkt gjord för att bli månadens anställda.\nAlla visste det, även Jet."

[1_sv]
start = 5.5
end = 10.6
lang = "sv"
text = "Men det här va ett nytt lågvattenmärke även för dem -\nsmetad över golvet sorts lågt."

[2_sv]
start = 10.8
end = 15.3
lang = "sv"
text = "Men, det va inte som att det fanns någon annan att göra jobbet."

[3_sv]
start = 15.6
end = 18.0
lang = "sv"
text = "Så Jet, du får ytterligare en chans!"
