; English
; =======

[0]
start = 0.0
end = 4.3
lang = "en"
text = "Jet really liked the floor,\nbut Jet had a job."

[1]
start = 4.6
end = 6.0
lang = "en"
text = "So... once more!"

; Swedish
; =======

[0_sv]
start = 0.0
end = 4.3
lang = "sv"
text = "Jet gillade verkligen golvet,\nmen Jet hade ett job."

[1_sv]
start = 4.6
end = 6.0
lang = "sv"
text = "Så... en gång till!"
