; English
; =======

[0]
start = 0.0
end = 2.8
lang = "en"
text = "Somehow, Jet had found all four dragons."

[1]
start = 2.9
end = 6.0
lang = "en"
text = "No one had really expected that.\nSo now what?"

[2]
start = 6.1
end = 10.0
lang = "en"
text = "Sure, they were happier with four dragons\nthan they were with no dragons."

[3]
start = 10.3
end = 11.5
lang = "en"
text = "Four is more than one."

[4]
start = 11.6
end = 16.5
lang = "en"
text = "But it seemed like,\nthere must have been a purpose to all this collecting."

; Swedish
; =======

[0_sv]
start = 0.0
end = 2.8
lang = "sv"
text = "På nåt vis hade Jet hittat alla fyra drakar."

[1_sv]
start = 2.9
end = 6.0
lang = "sv"
text = "Ingen hade riktigt förväntat sig det.\nSå nu då?"

[2_sv]
start = 6.1
end = 10.0
lang = "sv"
text = "Visst, hen var gladare med fyra drakar\nän med inga drakar."

[3_sv]
start = 10.3
end = 11.5
lang = "sv"
text = "Fyra är mer än ett."

[4_sv]
start = 11.6
end = 16.5
lang = "sv"
text = "Men det verkade som att,\ndet måste funnits något syfte med allt detta samlande."
