; English
; =======

[0]
start = 0.0
end = 4.7
lang = "en"
text = "Wandering around and feeling the experience\naccumulate was all good and that."

[1]
start = 4.8
end = 8.3
lang = "en"
text = "But Jet had a feeling -\nthey had forgotten something."

[2]
start = 8.4
end = 12.5
lang = "en"
text = "As if they had been given a quest?"

[3]
start = 12.8
end = 14.2
lang = "en"
text = "And indeed they had."

[4]
start = 14.3
end = 17.5
lang = "en"
text = "Collect four dragons it said."

[5]
start = 17.8
end = 22.5
lang = "en"
text = "Weird!\nThis didn't seem to be the place to have dragons."

; Swedish
; =======

[0_sv]
start = 0.0
end = 4.7
lang = "sv"
text = "Att vandra runt och känna erfarenheterna ackumulera\nvar visserligen trevligt."

[1_sv]
start = 4.8
end = 8.3
lang = "sv"
text = "Men Jet kände på sig\natt hen hade glömt något."

[2_sv]
start = 8.4
end = 12.5
lang = "sv"
text = "Som om någon hade gett hen ett uppdrag?"

[3_sv]
start = 12.8
end = 14.2
lang = "sv"
text = "Och det hade de."

[4_sv]
start = 14.3
end = 17.5
lang = "sv"
text = "Samla fyra drakar sa det."

[5_sv]
start = 17.8
end = 22.5
lang = "sv"
text = "Konstigt!\nDet här verkade inte va ett ställe med drakar."
