; English
; =======

[0]
start = 0.0
end = 2.7
lang = "en"
text = "Jet had no idea why this was important."

[1]
start = 2.8
end = 5.1
lang = "en"
text = "They had forgotten all about the quest."

[2]
start = 5.5
end = 8.4
lang = "en"
text = "But what they lacked in memory,\nthey made up for in luck."

[3]
start = 8.7
end = 14.3
lang = "en"
text = "It would have been much more rewarding\nto have known before that they were looking for - dragons?"

[4]
start = 14.7
end = 19.5
lang = "en"
text = "Only to find out,\nthat it was computer Dragons they were looking for."

[5]
start = 19.6
end = 23.0
lang = "en"
text = "But sometimes things don't work out according to plan."

[6]
start = 23.1
end = 24.3
lang = "en"
text = "So here we are..."

[7]
start = 24.6
end = 29.2
lang = "en"
text = "Jet found one -\nthe first out of four dragons."

; Swedish
; =======

[0_sv]
start = 0.0
end = 2.7
lang = "sv"
text = "Jet hade ingen aning varför detta var viktigt."

[1_sv]
start = 2.8
end = 5.1
lang = "sv"
text = "Hen hade glömt allt som rörde uppdrag."

[2_sv]
start = 5.5
end = 8.4
lang = "sv"
text = "Men det som de sakna i minne,\ngjorde de upp för i tur."

[3_sv]
start = 8.7
end = 14.3
lang = "sv"
text = "Det have varit mycket mer belönande\natt ha vetat innan att de letade efter... drakar?"

[4_sv]
start = 14.7
end = 19.5
lang = "sv"
text = "Bara för att sedan upptäcka,\natt det va Drak-datorer som de letade efter."

[5_sv]
start = 19.6
end = 23.0
lang = "sv"
text = "Men ibland går saker inte som planerat."

[6_sv]
start = 23.1
end = 24.3
lang = "sv"
text = "Så här är vi nu..."

[7_sv]
start = 24.6
end = 29.2
lang = "sv"
text = "Jet hittade en -\nden första av fyra drakar."
