; English
; =======

[0]
start = 0.2
end = 2.3
lang = "en"
text = "Jet took a moment...[sigh]"

[1]
start = 2.4
end = 5.0
lang = "en"
text = "Standing still. Taking in the view."

[2]
start = 5.1
end = 7.3
lang = "en"
text = "A very beautiful view, indeed."

[3]
start = 7.5
end = 12.6
lang = "en"
text = "So Jet decided, just looking at this,\nwas worth a couple of XP."

; Swedish
; =======

[0_sv]
start = 0.2
end = 2.3
lang = "sv"
text = "Jet tog ett ögonblick...[suck]"

[1_sv]
start = 2.4
end = 5.0
lang = "sv"
text = "Stod still och tog in utsikten..."

[2_sv]
start = 5.1
end = 7.3
lang = "sv"
text = "En väldigt vacker utsikt."

[3_sv]
start = 7.5
end = 12.6
lang = "sv"
text = "Så Jet bestämde: bara att titta på detta\nvar värt ett antal XP."
