; English
; =======

[0]
start = 0.2
end = 2.3
lang = "en"
text = "Jet found the first dragon again!"

[1]
start = 2.5
end = 5.1
lang = "en"
text = "Very good of Jet to remember this."

; Swedish
; =======

[0_sv]
start = 0.2
end = 2.3
lang = "sv"
text = "Jet hittade första draken igen!"

[1_sv]
start = 2.5
end = 5.1
lang = "sv"
text = "Väldigt bra av Jet att minnas det."
