; English
; =======

[0]
start = 0.0
end = 3.0
lang = "en"
text = "Oh! Oh! Not dragons."

[2]
start = 3.3
end = 5.5
lang = "en"
text = "Dragons, the computer."

[3]
start = 6.0
end = 8.9
lang = "en"
text = "Collect four dragon computers."

[4]
start = 9.3
end = 11.3
lang = "en"
text = "That makes much more sense!"

; Swedish
; =======


[0_sv]
start = 0.0
end = 3.0
lang = "sv"
text = "Åh! Åh! Inte drakar."

[2_sv]
start = 3.3
end = 5.5
lang = "sv"
text = "Drakar, dator modellen."

[3_sv]
start = 6.0
end = 8.9
lang = "sv"
text = "Samla fyra drak-datorer."

[4_sv]
start = 9.3
end = 11.3
lang = "sv"
text = "Det verkar mycket mer rimligt!"
