; English
; =======

[0]
start = 0.3
end = 4.6
lang = "en"
text = "Once again, of coure,\nJet was walking around aimlessly."

[1]
start = 4.7
end = 10.7
lang = "en"
text = "Hoping against all hope,\nthat something or someone would tell them what to do."

[2]
start = 11.2
end = 15.3
lang = "en"
text = "So here Jet - listen and try to remember this time:"

[3]
start = 15.5
end = 21.6
lang = "en"
text = "Dragons are dangerous things.\nWe need you to go back to the entrance and dispose of them."

[4]
start = 21.9
end = 27.5
lang = "en"
text = "Then the cartographers can safely enter and map out this place."

; Swedish
; =======

[0_sv]
start = 0.3
end = 4.6
lang = "sv"
text = "Ännu en gång, såklart,\nvandrade Jet runt planlöst."

[1_sv]
start = 4.7
end = 10.7
lang = "sv"
text = "Hoppandes mot bättre vetande,\natt något eller någon skulle säga till dem vad de skulle göra."

[2_sv]
start = 11.2
end = 15.3
lang = "sv"
text = "Så här Jet - lyssna och försök komma ihåg den här gången:"

[3_sv]
start = 15.5
end = 21.6
lang = "sv"
text = "Drakar är farliga saker.\nVi behöver att du går tillbaka till ingången och förstör dem."

[4_sv]
start = 21.9
end = 27.5
lang = "sv"
text = "Sedan kan kartograferna säkert komma och kartlägga det här stället."
