; English
; =======

[0]
start = 0.2
end = 3.5
lang = "en"
text = "It was a strange looking oversized lamp standing there."

[1]
start = 3.8
end = 6.2
lang = "en"
text = "But Jet was sure this was no lamp."

[2]
start = 6.4
end = 7.3
lang = "en"
text = "Instead..."

[3]
start = 7.6
end = 12.2
lang = "en"
text = "This would heal them up good,\nif they just stood there for a while."

; Swedish
; =======

[0_sv]
start = 0.2
end = 3.5
lang = "sv"
text = "Det var en konstigt överdriven stor lampa som stod där."

[1_sv]
start = 3.8
end = 6.2
lang = "sv"
text = "Men Jet var säker på att det inte var en lampa."

[2_sv]
start = 6.4
end = 7.3
lang = "sv"
text = "Istället..."

[3_sv]
start = 7.6
end = 12.2
lang = "sv"
text = "Den skulle hela hen bra,\nom hen bara stod där en stund."
