; English
; =======

[0]
start = 0.1
end = 2.9
lang = "en"
text = "Now, Jet thought themself very smart."

[1]
start = 3.2
end = 9.5
lang = "en"
text = "But it was quite obvious to everyone bestides Jet,\nthat the healing station needed time to recharge."

[2]
start = 9.9
end = 14.5
lang = "en"
text = "That it needed Jet to visit two other such stations\nbefore becoming active again."

[3]
start = 14.8
end = 18.3
lang = "en"
text = "Unfortunately, Jet had not worked that out so far."

; Swedish
; =======

[0_sv]
start = 0.1
end = 2.9
lang = "sv"
text = "Så, Jet tänkte att hen var väldigt smart."

[1_sv]
start = 3.2
end = 9.5
lang = "sv"
text = "Men det var helt uppenbart för alla andra förutom Jet,\natt helnings-apparaten behövde tid att ladda upp igen."

[2_sv]
start = 9.9
end = 14.5
lang = "sv"
text = "Att den behövde att Jet besökte två andra sådana apparater\ninnan den blev aktiv igen."

[3_sv]
start = 14.8
end = 18.3
lang = "sv"
text = "Tyvärr hade inte Jet fattat det än."
