; English
; =======

[0]
start = 0.3
end = 3.0
lang = "en"
text = "Jet had already seen this beautiful view."

[1]
start = 3.1
end = 6.2
lang = "en"
text = "Had walked these marvelous halls.\nAnd so..."

[2]
start = 6.5
end = 10.2
lang = "en"
text = "Jet felt a bit more experienced -\nalready from the start."

[4]
start = 10.8
end = 13.2
lang = "en"
text = "And they felt more in tune with the world."

[5]
start = 13.7
end = 16.3
lang = "en"
text = "This time would be different!"

; Swedish
; =======

[0_sv]
start = 0.3
end = 3.0
lang = "sv"
text = "Jet hade redan sett den här vackra vyn."

[1_sv]
start = 3.1
end = 6.2
lang = "sv"
text = "Hade vandrat i de här fantastiska korridorerna.\nOch därför..."

[2_sv]
start = 6.5
end = 10.2
lang = "sv"
text = "Jet kände sig lite mer erfaren -\nredan från början."

[4_sv]
start = 10.8
end = 13.2
lang = "sv"
text = "Och hen kände en djupare förståelse för världen."

[5_sv]
start = 13.7
end = 16.3
lang = "sv"
text = "Den här gången skulle det gå annorlunda!"
