; English
; =======

[0]
start = 0.0
end = 2.7
lang = "en"
text = "Jet was... very stubborn."

[1]
start = 3.0
end = 5.1
lang = "en"
text = "And they refused simple instructions."

[2]
start = 5.4
end = 9.2
lang = "en"
text = "Even when coming from a calm, inner voice."

[3]
start = 9.6
end = 12.6
lang = "en"
text = "No matter!\nStubbornness can also lead to experience."

[4]
start = 12.7
end = 17.8
lang = "en"
text = "And so Jet discovered,\nthat they actually started gaining XP all the same."

; Swedish
; =======

[0_sv]
start = 0.0
end = 2.7
lang = "sv"
text = "Jet var... väldigt envis."

[1_sv]
start = 3.0
end = 5.1
lang = "sv"
text = "Och hen vägrade att följa enkla instruktioner."

[2_sv]
start = 5.4
end = 9.2
lang = "sv"
text = "Även när de kom från en lugn inre röst."

[3_sv]
start = 9.6
end = 12.6
lang = "sv"
text = "Skit samma!\nEnvishet kan också leda till erfarenhet."

[4_sv]
start = 12.7
end = 17.8
lang = "sv"
text = "Och så upptäckte Jet att\nhen faktiskt startat få XP i alla fall."
