; English
; =======

[0]
start = 0.3
end = 2.2
lang = "en"
text = "Beautiful view, check!"

[1]
start = 2.6
end = 4.7
lang = "en"
text = "Marvelous halls, check!"

[2]
start = 5.5
end = 7.9
lang = "en"
text = "More XP, check!"

[3]
start = 8.7
end = 11.65
lang = "en"
text = "This time will be different, please!"

; Swedish
; =======

[0_sv]
start = 0.3
end = 2.2
lang = "sv"
text = "Vacker vy, check!"

[1_sv]
start = 2.6
end = 4.7
lang = "sv"
text = "Fantastiska korridorer, check!"

[2_sv]
start = 5.5
end = 7.9
lang = "sv"
text = "Mer XP, check!"

[3_sv]
start = 8.7
end = 11.65
lang = "sv"
text = "Den här gången skulle det gå annorlunda, snälla!"
