; English
; =======

[0]
start = 0.1
end = 2.0
lang = "en"
text = "Jet liked to accumulate XP."

[1]
start = 2.15
end = 4.1
lang = "en"
text = "Huge piles of XP."

[2]
start = 4.3
end = 7.4
lang = "en"
text = "But for some reason,\nthey had failed to invest it in themself."

[3]
start = 7.6
end = 11.15
lang = "en"
text = "So it was just lying around there,\ngoing to waste."

; Swedish
; =======

[0_sv]
start = 0.1
end = 2.0
lang = "sv"
text = "Jet gillade att samla på sig XP."

[1_sv]
start = 2.15
end = 4.1
lang = "sv"
text = "Enorma högar av XP."

[2_sv]
start = 4.3
end = 7.4
lang = "sv"
text = "Men av någon anledning\nså hade hen inte investerat det i sig själv."

[3_sv]
start = 7.6
end = 11.15
lang = "sv"
text = "Så det låg bara där - outnyttjat."
