; English
; =======

[0]
start = 0.0
end = 4.5
lang = "en"
text = "Once again, JET had neglected\nto use up their XP to upgrade themself."

[1]
start = 4.75
end = 6.5
lang = "en"
text = "Jet, why are you like this?"

[2]
start = 6.75
end = 8.15
lang = "en"
text = "Do you feel that content?"

[3]
start = 8.3
end = 11.2
lang = "en"
text = "There's absolutely no room for improvement?"

; Swedish
; =======

[0_sv]
start = 0.0
end = 4.5
lang = "sv"
text = "Återigen hade Jet underlåtit att använda upp\nhens XP för att upgradera sig själv."

[1_sv]
start = 4.75
end = 6.5
lang = "sv"
text = "Jet, varför är du sådan här?"

[2_sv]
start = 6.75
end = 8.15
lang = "sv"
text = "Är du så nöjd med dig själv?"

[3_sv]
start = 8.3
end = 11.2
lang = "sv"
text = "Det finns absolut inget utrymme för förbättring?"
