; English
; =======

[0]
start = 0.2
end = 2.2
lang = "en"
text = "I'm weary of those girls and boys"
format = 2

[1]
start = 2.3
end = 4.3
lang = "en"
text = "and others who don't put away their toys!"
format = 2

[2]
start = 4.58
end = 6.3
lang = "en"
text = "No thought for the common worker:"
format = 2

[3]
start = 6.4
end = 8.5
lang = "en"
text = "everyone of them a hopeless shirker!"
format = 2

[4]
start = 8.8
end = 11.4
lang = "en"
text = "To those messy kids, here's what I say:"
format = 2

[5]
start = 11.5
end = 13.4
lang = "en"
text = "It's time we put them all away!"
format = 2


; Swedish
; =======
