; English
; =======

[0]
start = 0.1
end = 2.8
lang = "en"
text = "When things break down, I fix the quick;"
format = 2

[1]
start = 3.2
end = 5.1
lang = "en"
text = "I have them mended in a tick!"
format = 2

[2]
start = 5.55
end = 8.1
lang = "en"
text = "When somethings missing, I find a spare;"
format = 2

[3]
start = 8.3
end = 10.0
lang = "en"
text = "You'll never know it wasn't there!"
format = 2

[4]
start = 10.5
end = 12.6
lang = "en"
text = "And useless litter I put away –"
format = 2

[5]
start = 12.7
end = 15.4
lang = "en"
text = "that goes for you, my little stray!"
format = 2

; Swedish
; =======
