; English
; =======

[0]
start = 0.1
end = 2.0
lang = "en"
text = "Fixing, tidying – never done!"
format = 2

[1]
start = 2.4
end = 4.15
lang = "en"
text = "But I don't do this just for fun;"
format = 2

[2]
start = 4.6
end = 6.55
lang = "en"
text = "everyone should run a tidy house,"
format = 2

[3]
start = 6.65
end = 8.15
lang = "en"
text = "so listen here, little mouse:"
format = 2

[4]
start = 8.25
end = 10.0
lang = "en"
text = "where'ere you cower out of fright,"
format = 2

[5]
start = 10.1
end = 12.3
lang = "en"
text = "I'm coming for you 'cos its right!"
format = 2

; Swedish
; =======
