; English
; =======

[0]
start = 0.0
end = 2.7
lang = "en"
text = "I'm weary of those girls and boys"
format = 2

[1]
start = 2.8
end = 4.9
lang = "en"
text = "and others who don't put away their toys!"
format = 2

[2]
start = 5.0
end = 6.9
lang = "en"
text = "No thought for the common worker:"
format = 2

[3]
start = 7.0
end = 9.3
lang = "en"
text = "everyone of them a hopeless shirker!"
format = 2

[4]
start = 9.8
end = 12.6
lang = "en"
text = "To those messy kids, here's what I say:"
format = 2

[5]
start = 13.0
end = 15.7
lang = "en"
text = "It's time we put them all away!"
format = 2


; Swedish
; =======
