; English
; =======

[0]
start = 0.15
end = 2.7
lang = "en"
text = "I guard these halls against all ill;"
format = 2

[1]
start = 2.8
end = 4.0
lang = "en"
text = "nothing's here against my will."
format = 2

[2]
start = 4.3
end = 6.1
lang = "en"
text = "There's purpose here to every part;"
format = 2

[3]
start = 6.2
end = 8.0
lang = "en"
text = "maintaining that's my sacred art."
format = 2

[4]
start = 8.6
end = 10.2
lang = "en"
text = "And though there's no-one here to tell,"
format = 2

[5]
start = 10.3
end = 12.2
lang = "en"
text = "I say aloud: I do it well!"
format = 2

; Swedish
; =======
