; English
; =======

[0]
start = 0.1
end = 2.8
lang = "en"
text = "I guard these halls against all ill;"
format = 2

[1]
start = 2.9
end = 5.0
lang = "en"
text = "nothing's here against my will."
format = 2

[2]
start = 5.3
end = 7.25
lang = "en"
text = "There's purpose here to every part;"
format = 2

[3]
start = 7.35
end = 9.5
lang = "en"
text = "maintaining that's my sacred art."
format = 2

[4]
start = 10.35
end = 12.25
lang = "en"
text = "And though there's no-one here to tell,"
format = 2

[5]
start = 12.35
end = 14.75
lang = "en"
text = "I say aloud: I do it well!"
format = 2

; Swedish
; =======
