; English
; =======

[0]
start = 0.2
end = 2.7
lang = "en"
text = "These rooms and halls, I know by heart:"
format = 2

[1]
start = 3.25
end = 5.0
lang = "en"
text = "each nook and cranny – every part."
format = 2

[2]
start = 5.7
end = 8.15
lang = "en"
text = "From floor to ceiling, wall to wall:"
format = 2

[3]
start = 8.25
end = 10.7
lang = "en"
text = "each door, each tile – I know them all!"
format = 2

[4]
start = 11.55
end = 13.45
lang = "en"
text = "In this domain, I'm in control."
format = 2

[5]
start = 13.65
end = 16.8
lang = "en"
text = "These rooms and halls, they are my soul."
format = 2

; Swedish
; =======
