; English
; =======

[0]
start = 0.1
end = 2.6
lang = "en"
text = "Cables pipes – lots to mend."
format = 2

[1]
start = 2.7
end = 4.8
lang = "en"
text = "It never stops, there is no end."
format = 2

[2]
start = 4.9
end = 7.3
lang = "en"
text = "One might ask: \"What's it all for?\""
format = 2

[3]
start = 7.6
end = 9.9
lang = "en"
text = "But keeping the light on is no chore."
format = 2

[4]
start = 10.3
end = 12.4
lang = "en"
text = "The work I do is not in vain."
format = 2

[5]
start = 12.5
end = 15.8
lang = "en"
text = "I keep the order in my domain."
format = 2

; Swedish
; =======
