; English
; =======

[0]
start = 0.0
end = 0.4
lang = "en"
text = "Help?"

[1]
start = 0.75
end = 1.3
lang = "en"
text = "Someone help!"

[2]
start = 1.65
end = 1.95
lang = "en"
text = "Help!"

[3]
start = 2.2
end = 2.55
lang = "en"
text = "No!"

; Swedish
; =======

[0_sv]
start = 0.0
end = 0.4
lang = "sv"
text = "Hjälp?"

[1_sv]
start = 0.75
end = 1.3
lang = "sv"
text = "Hjälp mig, snälla!"

[2_sv]
start = 1.65
end = 1.95
lang = "sv"
text = "Hjälp!"

[3_sv]
start = 2.2
end = 2.55
lang = "sv"
text = "Nej!"
