; English
; =======

[0]
start = 0.1
end = 2.4
lang = "en"
text = "- Oh, no, no, no, nonono, fuck fuck no!"


; Swedish
; =======

[0_sv]
start = 0.1
end = 2.35
lang = "sv"
text = "- Oh, nej, nej, nej, nänänej,\nfan i helvete heller!"
