; English
; =======

[0]
start = 0.0
end = 1.65
lang = "en"
text = "Oh, fuck no! Leave me alone!"

[1]
start = 1.8
end = 2.45
lang = "en"
text = "Go away!"


; Swedish
; =======

[0_sv]
start = 0.0
end = 1.65
lang = "sv"
text = "I helvete heller! Låt mig va!"

[1_sv]
start = 1.8
end = 2.45
lang = "sv"
text = "Försvinn!"
