; English
; =======

[0]
start = 0.05
end = 2.0
lang = "en"
text = "What the hell is that thing?"


; Swedish
; =======

[0_sv]
start = 0.05
end = 2.0
lang = "sv"
text = "Vad i helvete är det där för något?"
